In [1]:
import numpy as np
from sklearn import datasets
import pandas as pd

In [2]:
diabetes=datasets.load_diabetes()
df=pd.DataFrame(diabetes.data)
df.head()
diabetes.feature_names
df.columns=diabetes.feature_names
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [3]:
from sklearn.linear_model import LinearRegression

from sklearn import cross_validation as cv

X_train, X_test, Y_train, Y_test = cv.train_test_split(df, diabetes.target, test_size=0.2)
# df.age.values.reshape(442,1)

C:\Users\Jatin\Anacandoag\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
clf=LinearRegression()
clf.fit(X_train,Y_train)
clf.predict(X_test)

array([ 128.23883855,   75.58299709,  141.60234276,  145.74599526,
        144.03820306,   92.55048903,  156.20145391,  136.6546795 ,
         64.60808901,   75.38895187,  128.95366321,  117.04056467,
        103.59837339,  234.53504487,   45.13280962,   58.87349438,
        224.4959318 ,  217.72774315,  230.88082484,  216.24623676,
        177.65959593,  233.57999744,  157.63903032,   56.50829508,
        120.93017959,  216.76292268,   84.56112645,  203.05948269,
        126.44418444,  172.93558712,  252.0755483 ,  166.43156918,
         79.41160316,  139.36717021,  104.38909569,  196.14634803,
        193.96002906,  168.23291404,  127.75428053,  100.77356832,
        225.13164488,   79.35564234,  157.7157678 ,  124.87421334,
        188.40588023,   60.16057395,  229.96100956,   95.40143287,
        109.41359307,  161.19714135,  184.50138996,  291.74184269,
         99.85376613,  183.50116555,  164.57425312,   95.14466612,
        208.74455115,  250.19629069,  179.12055954,  111.37404639,
        256.41556824,  200.48521175,  114.84818848,   86.8844812 ,
        102.79133054,  214.46018696,  114.16109735,  220.04102685,
        197.12084348,  180.2454706 ,  143.99079149,  266.54350995,
        125.20726138,  131.2289843 ,  177.13983365,  103.85897618,
         56.08132635,  240.87038051,  210.1449985 ,  110.64146203,
        163.09143947,   92.68519696,  131.42183003,  157.98194303,
        131.21784366,  235.35582216,  176.27953769,  176.67551738,
        158.9555804 ])

In [5]:
clf.score(X_test,Y_test)

0.45309117760015227